/*! Instagram.css v0.1.3 | MIT License | github.com/picturepan2/instagram.css */
[class*="filter"] {
  position: relative;
}

[class*="filter"]::before {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

[data-filter=1977] {
  -webkit-filter: sepia(.5) hue-rotate(-30deg) saturate(1.4);
  filter: sepia(.5) hue-rotate(-30deg) saturate(1.4);
}

[data-filter=aden] {
  -webkit-filter: sepia(.2) brightness(1.15) saturate(1.4);
  filter: sepia(.2) brightness(1.15) saturate(1.4);
}

[data-filter=aden]::before {
  background: rgba(125, 105, 24, .1);
  content: "";
  mix-blend-mode: multiply;
}

[data-filter=amaro] {
  -webkit-filter: sepia(.35) contrast(1.1) brightness(1.2) saturate(1.3);
  filter: sepia(.35) contrast(1.1) brightness(1.2) saturate(1.3);
}

[data-filter=amaro]::before {
  background: rgba(125, 105, 24, .2);
  content: "";
  mix-blend-mode: overlay;
}

[data-filter=ashby] {
  -webkit-filter: sepia(.5) contrast(1.2) saturate(1.8);
  filter: sepia(.5) contrast(1.2) saturate(1.8);
}

[data-filter=ashby]::before {
  background: rgba(125, 105, 24, .35);
  content: "";
  mix-blend-mode: lighten;
}

[data-filter=brannan] {
  -webkit-filter: sepia(.4) contrast(1.25) brightness(1.1) saturate(.9) hue-rotate(-2deg);
  filter: sepia(.4) contrast(1.25) brightness(1.1) saturate(.9) hue-rotate(-2deg);
}

[data-filter=brooklyn] {
  -webkit-filter: sepia(.25) contrast(1.25) brightness(1.25) hue-rotate(5deg);
  filter: sepia(.25) contrast(1.25) brightness(1.25) hue-rotate(5deg);
}

[data-filter=brooklyn]::before {
  background: rgba(127, 187, 227, .2);
  content: "";
  mix-blend-mode: overlay;
}

[data-filter=charmes] {
  -webkit-filter: sepia(.25) contrast(1.25) brightness(1.25) saturate(1.35) hue-rotate(-5deg);
  filter: sepia(.25) contrast(1.25) brightness(1.25) saturate(1.35) hue-rotate(-5deg);
}

[data-filter=charmes]::before {
  background: rgba(125, 105, 24, .25);
  content: "";
  mix-blend-mode: darken;
}

[data-filter=clarendon] {
  -webkit-filter: sepia(.15) contrast(1.25) brightness(1.25) hue-rotate(5deg);
  filter: sepia(.15) contrast(1.25) brightness(1.25) hue-rotate(5deg);
}

[data-filter=clarendon]::before {
  background: rgba(127, 187, 227, .4);
  content: "";
  mix-blend-mode: overlay;
}

[data-filter=crema] {
  -webkit-filter: sepia(.5) contrast(1.25) brightness(1.15) saturate(.9) hue-rotate(-2deg);
  filter: sepia(.5) contrast(1.25) brightness(1.15) saturate(.9) hue-rotate(-2deg);
}

[data-filter=crema]::before {
  background: rgba(125, 105, 24, .2);
  content: "";
  mix-blend-mode: multiply;
}

[data-filter=dogpatch] {
  -webkit-filter: sepia(.35) saturate(1.1) contrast(1.5);
  filter: sepia(.35) saturate(1.1) contrast(1.5);
}

[data-filter=earlybird] {
  -webkit-filter: sepia(.25) contrast(1.25) brightness(1.15) saturate(.9) hue-rotate(-5deg);
  filter: sepia(.25) contrast(1.25) brightness(1.15) saturate(.9) hue-rotate(-5deg);
}

[data-filter=earlybird]::before {
  background: radial-gradient(circle closest-corner, transparent 0, rgba(125, 105, 24, .2) 100%);
  background: -o-radial-gradient(circle closest-corner, transparent 0, rgba(125, 105, 24, .2) 100%);
  background: -moz-radial-gradient(circle closest-corner, transparent 0, rgba(125, 105, 24, .2) 100%);
  background: -webkit-radial-gradient(circle closest-corner, transparent 0, rgba(125, 105, 24, .2) 100%);
  content: "";
  mix-blend-mode: multiply;
}

[data-filter=gingham] {
  -webkit-filter: contrast(1.1) brightness(1.1);
  filter: contrast(1.1) brightness(1.1);
}

[data-filter=gingham]::before {
  background: #e6e6e6;
  content: "";
  mix-blend-mode: soft-light;
}

[data-filter=ginza] {
  -webkit-filter: sepia(.25) contrast(1.15) brightness(1.2) saturate(1.35) hue-rotate(-5deg);
  filter: sepia(.25) contrast(1.15) brightness(1.2) saturate(1.35) hue-rotate(-5deg);
}

[data-filter=ginza]::before {
  background: rgba(125, 105, 24, .15);
  content: "";
  mix-blend-mode: darken;
}

[data-filter=hefe] {
  -webkit-filter: sepia(.4) contrast(1.5) brightness(1.2) saturate(1.4) hue-rotate(-10deg);
  filter: sepia(.4) contrast(1.5) brightness(1.2) saturate(1.4) hue-rotate(-10deg);
}

[data-filter=hefe]::before {
  background: radial-gradient(circle closest-corner, transparent 0, rgba(0, 0, 0, .25) 100%);
  background: -o-radial-gradient(circle closest-corner, transparent 0, rgba(0, 0, 0, .25) 100%);
  background: -moz-radial-gradient(circle closest-corner, transparent 0, rgba(0, 0, 0, .25) 100%);
  background: -webkit-radial-gradient(circle closest-corner, transparent 0, rgba(0, 0, 0, .25) 100%);
  content: "";
  mix-blend-mode: multiply;
}

[data-filter=helena] {
  -webkit-filter: sepia(.5) contrast(1.05) brightness(1.05) saturate(1.35);
  filter: sepia(.5) contrast(1.05) brightness(1.05) saturate(1.35);
}

[data-filter=helena]::before {
  background: rgba(158, 175, 30, .25);
  content: "";
  mix-blend-mode: overlay;
}

[data-filter=hudson] {
  -webkit-filter: sepia(.25) contrast(1.2) brightness(1.2) saturate(1.05) hue-rotate(-15deg);
  filter: sepia(.25) contrast(1.2) brightness(1.2) saturate(1.05) hue-rotate(-15deg);
}

[data-filter=hudson]::before {
  background: radial-gradient(circle closest-corner, transparent 25%, rgba(25, 62, 167, .25) 100%);
  background: -o-radial-gradient(circle closest-corner, transparent 25%, rgba(25, 62, 167, .25) 100%);
  background: -moz-radial-gradient(circle closest-corner, transparent 25%, rgba(25, 62, 167, .25) 100%);
  background: -webkit-radial-gradient(circle closest-corner, transparent 25%, rgba(25, 62, 167, .25) 100%);
  content: "";
  mix-blend-mode: multiply;
}

[data-filter=inkwell] {
  -webkit-filter: brightness(1.25) contrast(.85) grayscale(1);
  filter: brightness(1.25) contrast(.85) grayscale(1);
}

[data-filter=juno] {
  -webkit-filter: sepia(.35) contrast(1.15) brightness(1.15) saturate(1.8);
  filter: sepia(.35) contrast(1.15) brightness(1.15) saturate(1.8);
}

[data-filter=juno]::before {
  background: rgba(127, 187, 227, .2);
  content: "";
  mix-blend-mode: overlay;
}

[data-filter=kelvin] {
  -webkit-filter: sepia(.15) contrast(1.5) brightness(1.1) hue-rotate(-10deg);
  filter: sepia(.15) contrast(1.5) brightness(1.1) hue-rotate(-10deg);
}

[data-filter=kelvin]::before {
  background: radial-gradient(circle closest-corner, rgba(128, 78, 15, .25) 0, rgba(128, 78, 15, .5) 100%);
  background: -o-radial-gradient(circle closest-corner, rgba(128, 78, 15, .25) 0, rgba(128, 78, 15, .5) 100%);
  background: -moz-radial-gradient(circle closest-corner, rgba(128, 78, 15, .25) 0, rgba(128, 78, 15, .5) 100%);
  background: -webkit-radial-gradient(circle closest-corner, rgba(128, 78, 15, .25) 0, rgba(128, 78, 15, .5) 100%);
  content: "";
  mix-blend-mode: overlay;
}

[data-filter=lark] {
  -webkit-filter: sepia(.25) contrast(1.2) brightness(1.3) saturate(1.25);
  filter: sepia(.25) contrast(1.2) brightness(1.3) saturate(1.25);
}

[data-filter=lofi] {
  -webkit-filter: saturate(1.1) contrast(1.5);
  filter: saturate(1.1) contrast(1.5);
}

[data-filter=ludwig] {
  -webkit-filter: sepia(.25) contrast(1.05) brightness(1.05) saturate(2);
  filter: sepia(.25) contrast(1.05) brightness(1.05) saturate(2);
}

[data-filter=ludwig]::before {
  background: rgba(125, 105, 24, .1);
  content: "";
  mix-blend-mode: overlay;
}

[data-filter=maven] {
  -webkit-filter: sepia(.35) contrast(1.05) brightness(1.05) saturate(1.75);
  filter: sepia(.35) contrast(1.05) brightness(1.05) saturate(1.75);
}

[data-filter=maven]::before {
  background: rgba(158, 175, 30, .25);
  content: "";
  mix-blend-mode: darken;
}

[data-filter=mayfair] {
  -webkit-filter: contrast(1.1) brightness(1.15) saturate(1.1);
  filter: contrast(1.1) brightness(1.15) saturate(1.1);
}

[data-filter=mayfair]::before {
  background: radial-gradient(circle closest-corner, transparent 0, rgba(175, 105, 24, .4) 100%);
  background: -o-radial-gradient(circle closest-corner, transparent 0, rgba(175, 105, 24, .4) 100%);
  background: -moz-radial-gradient(circle closest-corner, transparent 0, rgba(175, 105, 24, .4) 100%);
  background: -webkit-radial-gradient(circle closest-corner, transparent 0, rgba(175, 105, 24, .4) 100%);
  content: "";
  mix-blend-mode: multiply;
}

[data-filter=moon] {
  -webkit-filter: brightness(1.4) contrast(.95) saturate(0) sepia(.35);
  filter: brightness(1.4) contrast(.95) saturate(0) sepia(.35);
}

[data-filter=nashville] {
  -webkit-filter: sepia(.25) contrast(1.5) brightness(.9) hue-rotate(-15deg);
  filter: sepia(.25) contrast(1.5) brightness(.9) hue-rotate(-15deg);
}

[data-filter=nashville]::before {
  background: radial-gradient(circle closest-corner, rgba(128, 78, 15, .5) 0, rgba(128, 78, 15, .65) 100%);
  background: -o-radial-gradient(circle closest-corner, rgba(128, 78, 15, .5) 0, rgba(128, 78, 15, .65) 100%);
  background: -moz-radial-gradient(circle closest-corner, rgba(128, 78, 15, .5) 0, rgba(128, 78, 15, .65) 100%);
  background: -webkit-radial-gradient(circle closest-corner, rgba(128, 78, 15, .5) 0, rgba(128, 78, 15, .65) 100%);
  content: "";
  mix-blend-mode: screen;
}

[data-filter=perpetua] {
  -webkit-filter: contrast(1.1) brightness(1.25) saturate(1.1);
  filter: contrast(1.1) brightness(1.25) saturate(1.1);
}

[data-filter=perpetua]::before {
  background: linear-gradient(to bottom, rgba(0, 91, 154, .25), rgba(230, 193, 61, .25));
  background: -o-linear-gradient(top, rgba(0, 91, 154, .25), rgba(230, 193, 61, .25));
  background: -moz-linear-gradient(top, rgba(0, 91, 154, .25), rgba(230, 193, 61, .25));
  background: -webkit-linear-gradient(top, rgba(0, 91, 154, .25), rgba(230, 193, 61, .25));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 91, 154, .25)), to(rgba(230, 193, 61, .25)));
  content: "";
  mix-blend-mode: multiply;
}

[data-filter=poprocket] {
  -webkit-filter: sepia(.15) brightness(1.2);
  filter: sepia(.15) brightness(1.2);
}

[data-filter=poprocket]::before {
  background: radial-gradient(circle closest-corner, rgba(206, 39, 70, .75) 40%, black 80%);
  background: -o-radial-gradient(circle closest-corner, rgba(206, 39, 70, .75) 40%, black 80%);
  background: -moz-radial-gradient(circle closest-corner, rgba(206, 39, 70, .75) 40%, black 80%);
  background: -webkit-radial-gradient(circle closest-corner, rgba(206, 39, 70, .75) 40%, black 80%);
  content: "";
  mix-blend-mode: screen;
}

[data-filter=reyes] {
  -webkit-filter: sepia(.75) contrast(.75) brightness(1.25) saturate(1.4);
  filter: sepia(.75) contrast(.75) brightness(1.25) saturate(1.4);
}

[data-filter=rise] {
  -webkit-filter: sepia(.25) contrast(1.25) brightness(1.2) saturate(.9);
  filter: sepia(.25) contrast(1.25) brightness(1.2) saturate(.9);
}

[data-filter=rise]::before {
  background: radial-gradient(circle closest-corner, transparent 0, rgba(230, 193, 61, .25) 100%);
  background: -o-radial-gradient(circle closest-corner, transparent 0, rgba(230, 193, 61, .25) 100%);
  background: -moz-radial-gradient(circle closest-corner, transparent 0, rgba(230, 193, 61, .25) 100%);
  background: -webkit-radial-gradient(circle closest-corner, transparent 0, rgba(230, 193, 61, .25) 100%);
  content: "";
  mix-blend-mode: lighten;
}

[data-filter=sierra] {
  -webkit-filter: sepia(.25) contrast(1.5) brightness(.9) hue-rotate(-15deg);
  filter: sepia(.25) contrast(1.5) brightness(.9) hue-rotate(-15deg);
}

[data-filter=sierra]::before {
  background: radial-gradient(circle closest-corner, rgba(128, 78, 15, .5) 0, rgba(0, 0, 0, .65) 100%);
  background: -o-radial-gradient(circle closest-corner, rgba(128, 78, 15, .5) 0, rgba(0, 0, 0, .65) 100%);
  background: -moz-radial-gradient(circle closest-corner, rgba(128, 78, 15, .5) 0, rgba(0, 0, 0, .65) 100%);
  background: -webkit-radial-gradient(circle closest-corner, rgba(128, 78, 15, .5) 0, rgba(0, 0, 0, .65) 100%);
  content: "";
  mix-blend-mode: screen;
}

[data-filter=skyline] {
  -webkit-filter: sepia(.15) contrast(1.25) brightness(1.25) saturate(1.2);
  filter: sepia(.15) contrast(1.25) brightness(1.25) saturate(1.2);
}

[data-filter=slumber] {
  -webkit-filter: sepia(.35) contrast(1.25) saturate(1.25);
  filter: sepia(.35) contrast(1.25) saturate(1.25);
}

[data-filter=slumber]::before {
  background: rgba(125, 105, 24, .2);
  content: "";
  mix-blend-mode: darken;
}

[data-filter=stinson] {
  -webkit-filter: sepia(.35) contrast(1.25) brightness(1.1) saturate(1.25);
  filter: sepia(.35) contrast(1.25) brightness(1.1) saturate(1.25);
}

[data-filter=stinson]::before {
  background: rgba(125, 105, 24, .45);
  content: "";
  mix-blend-mode: lighten;
}

[data-filter=sutro] {
  -webkit-filter: sepia(.4) contrast(1.2) brightness(.9) saturate(1.4) hue-rotate(-10deg);
  filter: sepia(.4) contrast(1.2) brightness(.9) saturate(1.4) hue-rotate(-10deg);
}

[data-filter=sutro]::before {
  background: radial-gradient(circle closest-corner, transparent 50%, rgba(0, 0, 0, .5) 90%);
  background: -o-radial-gradient(circle closest-corner, transparent 50%, rgba(0, 0, 0, .5) 90%);
  background: -moz-radial-gradient(circle closest-corner, transparent 50%, rgba(0, 0, 0, .5) 90%);
  background: -webkit-radial-gradient(circle closest-corner, transparent 50%, rgba(0, 0, 0, .5) 90%);
  content: "";
  mix-blend-mode: darken;
}

[data-filter=toaster] {
  -webkit-filter: sepia(.25) contrast(1.5) brightness(.95) hue-rotate(-15deg);
  filter: sepia(.25) contrast(1.5) brightness(.95) hue-rotate(-15deg);
}

[data-filter=toaster]::before {
  background: radial-gradient(circle, #804e0f, rgba(0, 0, 0, .25));
  background: -o-radial-gradient(circle, #804e0f, rgba(0, 0, 0, .25));
  background: -moz-radial-gradient(circle, #804e0f, rgba(0, 0, 0, .25));
  background: -webkit-radial-gradient(circle, #804e0f, rgba(0, 0, 0, .25));
  content: "";
  mix-blend-mode: screen;
}

[data-filter=valencia] {
  -webkit-filter: sepia(.25) contrast(1.1) brightness(1.1);
  filter: sepia(.25) contrast(1.1) brightness(1.1);
}

[data-filter=valencia]::before {
  background: rgba(230, 193, 61, .1);
  content: "";
  mix-blend-mode: lighten;
}

[data-filter=vesper] {
  -webkit-filter: sepia(.35) contrast(1.15) brightness(1.2) saturate(1.3);
  filter: sepia(.35) contrast(1.15) brightness(1.2) saturate(1.3);
}

[data-filter=vesper]::before {
  background: rgba(125, 105, 24, .25);
  content: "";
  mix-blend-mode: overlay;
}

[data-filter=walden] {
  -webkit-filter: sepia(.35) contrast(.8) brightness(1.25) saturate(1.4);
  filter: sepia(.35) contrast(.8) brightness(1.25) saturate(1.4);
}

[data-filter=walden]::before {
  background: rgba(229, 240, 128, .5);
  content: "";
  mix-blend-mode: darken;
}

[data-filter=willow] {
  -webkit-filter: brightness(1.2) contrast(.85) saturate(.05) sepia(.2);
  filter: brightness(1.2) contrast(.85) saturate(.05) sepia(.2);
}

[data-filter=xpro]-ii {
  -webkit-filter: sepia(.45) contrast(1.25) brightness(1.75) saturate(1.3) hue-rotate(-5deg);
  filter: sepia(.45) contrast(1.25) brightness(1.75) saturate(1.3) hue-rotate(-5deg);
}

[data-filter=xpro]-ii::before {
  background: radial-gradient(circle closest-corner, rgba(0, 91, 154, .35) 0, rgba(0, 0, 0, .65) 100%);
  background: -o-radial-gradient(circle closest-corner, rgba(0, 91, 154, .35) 0, rgba(0, 0, 0, .65) 100%);
  background: -moz-radial-gradient(circle closest-corner, rgba(0, 91, 154, .35) 0, rgba(0, 0, 0, .65) 100%);
  background: -webkit-radial-gradient(circle closest-corner, rgba(0, 91, 154, .35) 0, rgba(0, 0, 0, .65) 100%);
  content: "";
  mix-blend-mode: multiply;
}